nav
  ul
    li <a href="/" title="Home">Home</a>
    li <a href="/about" title="About">About</a></li>
    li <a href="/auth/twitter" title="Sign up for the App">Sign up for the App</a></li>
    li <a href="/contact" title="Contact">Contact</a></li>
